= form_for speaking_engagement do |f|
  %p= f.label :title
  %p= f.text_field :title
  %p= f.label :location
  %p= f.text_field :location
  %p= f.label :date
  %p= f.date_field :date
  %p= f.submit 'Submit'
