.well
  Hi! I'm Jake Worth, a developer at
  = succeed ', ' do
    = link_to 'Hashrocket', 'https://hashrocket.com/', target: '_blank'
  based in Chicago.
  I co-organize
  = succeed '. ' do
    = link_to 'Vim Chicago', 'http://www.meetup.com/Vim-Chicago/', target: '_blank'
  Read my
  = succeed ', ' do
    = link_to 'blog', '/'
  learn
  = link_to 'about', '/about'
  my work, follow me on
  = link_to 'Twitter', 'https://twitter.com/jwworth', target: '_blank'
  and
  = succeed ', ' do
    = link_to 'Github', 'https://github.com/jwworth', target: '_blank'
  = succeed '.' do
    = link_to 'get in touch', 'mailto:' + ENV.fetch('contact_email')
