= form_for project do |f|
  %p= f.label :title
  %p= f.text_field :title
  %p= f.label :hyperlink
  %p= f.text_field :hyperlink
  %p= f.label :description
  %p= f.text_area :description
  %p= f.label :featured_order
  %p= f.text_field :featured_order
  %p= f.submit 'Submit'
