= content_for :head, auto_discovery_link_tag(:atom, root_path(format: "atom"))

.page-header
  %h3 Blog
  %p
    %blockquote
      My favorite posts are marked with
      = succeed '.' do
        = emoji_of_the_day

%ul.posts
  - @posts.each do |post|
    %li
      %p.title
        - if post.favorite?
          = emoji_of_the_day
        = link_to post.title, post_path(post.url_slug)
        %span.posted= link_to post.display_date, post_path(post)
        - if developer_signed_in?
          = link_to '[edit]', edit_post_path(post.url_slug)

%nav.pagination
  = link_to_next_page @posts, '&#8592; Older Posts'.html_safe
  = link_to_previous_page @posts, 'Newer Posts &#8594;'.html_safe
