= content_for :head, auto_discovery_link_tag(:atom, root_path(format: "atom"))

.page-header
  %h3 Blog
  %p
    %blockquote
      My favorite posts are marked with &#9733;.

- @posts.each do |post|
  %p.title
    - if post.favorite?
      &#9733;
    = link_to post.title, post_path(post.url_slug)
    %span.posted= post.display_date
    - if developer_signed_in?
      = link_to '[edit]', edit_post_path(post.url_slug)

%nav.pagination
  = link_to_next_page @posts, "older posts", class: "btn btn-default btn-sm"
  = link_to_previous_page @posts, "newer posts", class: "btn btn-default btn-sm"
