- content_for :page_title, 'About'

.page-header
  %h3 About
  %p
    %blockquote
      Technology is my &#128293;. I'm currently excited about Ruby, Rails,
      Elixir, Phoenix, PostgreSQL, React.js, Vim, and automated tests.

.container#about
  .col-md-8
    .content
      %h4#projects= link_to_if(developer_signed_in?, 'Projects', projects_path)
      - if projects.any?
        %ul.projects
          - projects.each do |project|
            = render 'projects/projects', project: project
      - else
        None.

    - if speaking_engagements.any?
      .content
        %h4#talks Talks

        .featured-video
          .embed-responsive.embed-responsive-16by9
            %iframe(width="560" height="315" src="https://www.youtube.com/embed/D9awDBUQvr4" allowfullscreen)
          .caption
            %em Observing Change: A Gold Master Test in Practice,
            RailsConf, April 2017.

        %ul.talks
          - speaking_engagements.each do |engagement|
            %li
              = succeed ',' do
                %em= engagement.display_title
              = succeed ',' do
                = engagement.location
              = succeed '.' do
                = engagement.date.strftime('%B %Y')
              - if engagement.video_hyperlink?
                = link_to('(video)', engagement.video_hyperlink)
              - if engagement.slides_hyperlink?
                = link_to('(slides)', engagement.slides_hyperlink)
              - if developer_signed_in?
                = link_to '[edit]', edit_speaking_engagement_path(engagement)

    .content
      %h4#other-stuff Jake + Internet
      %ul.other-stuff
        - sites.each do |site|
          %li
            = succeed ':' do
              = link_to site[0], site[1], target: '_blank'
            #{site[2]}.
