- content_for :page_title, 'About'

.page-header
  %h3 About

.container
  .col-md-6#projects
    %h4= link_to_if(developer_signed_in?, 'Projects', projects_path)
    .content

      %p
        %blockquote
          Coding is my passion, and I'm doing it most of the time. Currently
          exploring OO and functional programming patterns.

      - if projects.any?
        - projects.each do |project|
          = render 'projects/projects', project: project
      - else
        None.

  .col-md-6#speaking-engagements
    %h4 Speaking Engagements
    .content

      %p
        %blockquote
          = link_to "Email me", 'mailto:jake@jakeworth.com'
          to discuss workshops and presentations.
      - if speaking_engagements.any?
        - speaking_engagements.each do |engagement|
          %p.title
            = succeed ',' do
              %em= link_to_if(engagement.hyperlink, engagement.display_title, engagement.hyperlink)
            = succeed ',' do
              = engagement.location
            = engagement.date.strftime('%B %Y')
            - if developer_signed_in?
              = link_to '[edit]', edit_speaking_engagement_path(engagement)
      - else
        None.


.container
  .col-md-6
    %h4 Other Media
    .content

      %p
        %blockquote
          I write for the
          = succeed ',' do
            = link_to 'Hashrocket Blog', 'https://hashrocket.com/blog/rocketeers/jake-worth', target: '_blank'
          = succeed ',' do
            = link_to 'Stack Overflow', 'https://stackoverflow.com/users/2112512/jake-worth', target: '_blank'
          = succeed ',' do
            = link_to 'Quora', 'https://www.quora.com/profile/Jake-Worth', target: '_blank'
          and screencast for
          = link_to 'PG Casts', 'https://www.pgcasts.com', target: '_blank'
          about PostgreSQL.
          My professional (and personal) reading list is available at
          = succeed '.' do
            = link_to 'Goodreads', 'https://www.goodreads.com/jwworth', target: '_blank'
