- content_for :page_title, 'About'

.page-header
  %h3 About

.container#projects
  .col-md-6
    %h4 Projects
    .content

      %p
        %blockquote
          %em
            I love to code! I'm pretty much building something all the time.
            Currently passionate about OO and functional programming patterns.
            Check out
            = link_to "Github", "https://github.com/jwworth", target: '_blank'
            for my most recent activity.

      - if projects.any?
        - projects.each do |project|
          %p.title
            = link_to project.title, project.hyperlink
            - if developer_signed_in?
              = link_to '[edit]', edit_project_path(project)
          %p= markdown_render(project.description)
      - else
        None.

  .col-md-6
    %h4 Speaking Engagements
    .content

      %p
        %blockquote
          %em
            I enjoy speaking and teaching!
            = link_to "Send me an email", 'mailto:jake@jakeworth.com'
            to talk more about workshops and presentations.

      - if speaking_engagements.any?
        - speaking_engagements.each do |engagement|
          %p.title
            = succeed ',' do
              %em= link_to_if(engagement.hyperlink, engagement.title, engagement.hyperlink)
            = succeed ',' do
              = engagement.location
            = engagement.date.strftime('%B %Y')
      - else
        None.


.container
  .col-md-6
    %h4 Other Writing
    .content

      %p
        %blockquote
          %em
            I contribute frequently to the Hashrocket blog, collected
            = succeed '.' do
              = link_to 'here', 'https://hashrocket.com/blog/rocketeers/jake-worth'
