- content_for :page_title, 'About'

.page-header
  %h3 About

.container#about
  .col-md-9
    %blockquote
      Programming is my passion. I'm currently excited about Elixir, Phoenix,
      Ruby, Rails, PostgreSQL, JavaScript, CSS, and HTML, and tests.

      I strive for expert communication with an emphasis on client happiness,
      technical writing, pair-programming, and teaching.
  .col-md-4.5
    %h4= link_to_if(developer_signed_in?, 'Projects', projects_path)
    .content#projects
      - if projects.any?
        %ul
          - projects.each do |project|
            = render 'projects/projects', project: project
      - else
        None.

  .col-md-4.5
    %h4 Talks
    .content#speaking-engagements
      - if speaking_engagements.any?
        %ul
          - speaking_engagements.each do |engagement|
            %li
              = succeed ',' do
                %em= link_to_if(engagement.hyperlink, engagement.display_title, engagement.hyperlink)
              = succeed ',' do
                = engagement.location
              = succeed '.' do
                = engagement.date.strftime('%B %Y')
              - if developer_signed_in?
                = link_to '[edit]', edit_speaking_engagement_path(engagement)
      - else
        None.

    %h4 Other Stuff
    .content#other-media
      %ul
        %li
          = succeed ':' do
            = link_to 'Hashrocket Blog', 'https://hashrocket.com/blog/rocketeers/jake-worth', target: '_blank'
          writing for my company.
        %li
          = succeed ':' do
            = link_to 'Stack Overflow', 'https://stackoverflow.com/users/2112512/jake-worth', target: '_blank'
          answering and asking programming questions.
        %li
          = succeed ':' do
            = link_to 'Quora', 'https://www.quora.com/profile/Jake-Worth', target: '_blank'
          answering and asking programming questions.
        %li
          = succeed ':' do
            = link_to 'PG Casts', 'https://www.pgcasts.com', target: '_blank'
          screencasting about PostgreSQL.
        %li
          = succeed ':' do
            = link_to 'Reading List', 'https://www.goodreads.com/jwworth', target: '_blank'
          recording what I read.
