- content_for :page_title, 'About'

.page-header
  %h3 About
  %p
    %blockquote
      Technology is my &#128293;. I'm currently excited about Ruby, Rails,
      Elixir, Phoenix, PostgreSQL, React.js, Vim, and automated tests.

.container#about
  .col-md-8
    .content
      %h4= link_to_if(developer_signed_in?, 'Projects', projects_path)
      - if projects.any?
        %ul.about
          - projects.each do |project|
            = render 'projects/projects', project: project
      - else
        None.

    - if speaking_engagements.any?
      .content
        %h4 Talks

        .featured-video
          .embed-responsive.embed-responsive-16by9
            %iframe(width="560" height="315" src="https://www.youtube.com/embed/D9awDBUQvr4" allowfullscreen)
          .caption
            %em Observing Change: A Gold Master Test in Practice,
            RailsConf, April 2017.

        %ul.about
          - speaking_engagements.each do |engagement|
            %li
              = succeed ',' do
                %em= engagement.display_title
              = succeed ',' do
                = engagement.location
              = succeed '.' do
                = engagement.date.strftime('%B %Y')
              - if engagement.video_hyperlink?
                = link_to('(video)', engagement.video_hyperlink)
              - if engagement.slides_hyperlink?
                = link_to('(slides)', engagement.slides_hyperlink)
              - if developer_signed_in?
                = link_to '[edit]', edit_speaking_engagement_path(engagement)

    .content
      %h4 Other Stuff
      %ul.about
        %li
          = succeed ':' do
            = link_to 'Exercism', 'http://exercism.io/jwworth', target: '_blank'
          writing algorithms and experimenting with different languages.
        %li
          = succeed ':' do
            = link_to 'Goodreads', 'https://www.goodreads.com/jwworth', target: '_blank'
          recording what I read.
        %li
          = succeed ':' do
            = link_to 'Hashrocket Blog', 'https://hashrocket.com/blog/rocketeers/jake-worth', target: '_blank'
          writing for my company.
        %li
          = succeed ':' do
            = link_to 'Meetup', 'https://www.meetup.com/members/12542589/', target: '_blank'
          talking about code on the scene.
        %li
          = succeed ':' do
            = link_to 'PG Casts', 'https://www.pgcasts.com', target: '_blank'
          screencasting about PostgreSQL.
        %li
          = succeed ':' do
            = link_to 'Quora', 'https://www.quora.com/profile/Jake-Worth', target: '_blank'
          answering and asking programming questions.
        %li
          = succeed ':' do
            = link_to 'Stack Overflow', 'https://stackoverflow.com/users/2112512/jake-worth', target: '_blank'
          answering and asking programming questions.
        %li
          = succeed ':' do
            = link_to 'Untappd', 'https://untappd.com/user/jwworth', target: '_blank'
          rating and reviewing beers.
