!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title= [content_for(:page_title), SITE_NAME].compact.join(' - ').html_safe
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', media: 'all'
    %link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
    = csrf_meta_tags
    = yield :head

  %body
    .jumbotron
      .container
        %h1= link_to 'I am Jake.', root_path
        %p
          Developer at
          = succeed ', ' do
            = link_to "Hashrocket", "https://hashrocket.com/", target: '_blank'
          co-organizer of
          = succeed '. ' do
            = link_to "Vim Chicago", "http://www.meetup.com/Vim-Chicago/", target: '_blank'
          I care about great code, learning, and the tech community.
          Learn
          = link_to "about", '/about'
          my work, follow me on
          = link_to "Twitter", "https://twitter.com/jwworth", target: '_blank'
          and
          = succeed ', ' do
            = link_to "Github", "https://github.com/jwworth", target: '_blank'
          = succeed '.' do
            = link_to "get in touch", 'mailto:jake@jakeworth.com'

  %main
    .container
      - if flash.present? && flash[:notice]
        .alert.alert-info(role="alert")= [flash[:notice]].flatten.join('; ').downcase.capitalize
      = yield

  .container
    %footer
      created by
      = link_to '@jwworth.', 'http://twitter.com/jwworth'
      = link_to ' source code.', 'http://github.com/jwworth/jakeworth.com'
      %br
      %br
      .btn-group(role="group")
        - if developer_signed_in?
          .btn.btn-default= link_to 'Logout', destroy_session_path
          .btn.btn-default= link_to '+', new_post_path
          .btn.btn-default= link_to '$', new_project_path
