!!!
%html
  = render 'shared/head'

  %body
    .jumbotron
      .container
        %h1= link_to 'Jake Worth', root_path
        %ul.nav.nav-pills
          - about = current_page?('/about')
          %li(role="presentation" class="#{'active' if !about}")
            = link_to "Blog", "/"
          %li(role="presentation" class="#{'active' if about}")
            = link_to "About", "/about"

  %main
    .container
      - if flash.present? && flash[:notice]
        .alert.alert-info(role="alert")= [flash[:notice]].flatten.join('; ').downcase.capitalize
      .col-md-9
        = yield
      .col-md-3
        = render 'shared/greeting'

  .container
    %footer
      This blog is
      = link_to 'open source.', 'http://github.com/jwworth/jakeworth.com'
      Have a fantastic
      #{Date.today.strftime('%A')}!
      %br
      %br
      - if developer_signed_in?
        .btn-group{role: "group", "aria-label": "..."}
          = link_to 'Logout', destroy_session_path, class: 'btn btn-default'
          = link_to 'New Post', new_post_path, class: 'btn btn-default'
          = link_to 'New Project', new_project_path, class: 'btn btn-default'
          = link_to 'New Speaking Engagement', new_speaking_engagement_path, class: 'btn btn-default'
