!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title worth-chicago
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %main
      %header
        = gravatar_image_tag 'jake@worth-chicago.co'
        %h1=link_to 'worth-chicago', root_path
        %ul
          - if developer_signed_in?
            %li= link_to 'Create post', new_post_path
            %li= link_to 'Log out', destroy_session_path
          %li= link_to 'Github', 'http://github.com/jwworth'
          %li= link_to 'Twitter', 'http://twitter.com/jwworth'
          %li= link_to 'Email', 'mailto:jake@worth-chicago.co'
        .subheader= "A developer's notebook"
      #flash
        - if flash.present?
          - if flash[:alert]
            - [flash[:alert]].flatten.each do |alert_message|
              %p.alert= alert_message
          - elsif flash[:notice]
            - [flash[:notice]].flatten.each do |notice|
              %p.notice= notice
      %article
        = yield

      %footer
        %p
          &copy;
          = "#{Date.today.year} Jake Worth"
