!!!
%html
  = render 'shared/head'

  %body
    .jumbotron
      .container
        %h1= link_to 'Jake Worth', root_path
        %ul.nav.nav-pills
          - about = current_page?('/about')
          %li(role="presentation" class="#{'active' if !about}")
            = link_to "Blog", "/"
          %li(role="presentation" class="#{'active' if about}")
            = link_to "About", "/about"

  %main
    .container
      - if flash.present? && flash[:notice]
        .alert.alert-info(role="alert")= [flash[:notice]].flatten.join('; ').downcase.capitalize
      .col-md-9
        = yield
      .col-md-3
        .well
          Hi! I'm Jake Worth, a developer at
          = succeed ', ' do
            = link_to "Hashrocket", "https://hashrocket.com/", target: '_blank'
          based in Chicago.
          I co-organize
          = succeed '. ' do
            = link_to "Vim Chicago", "http://www.meetup.com/Vim-Chicago/", target: '_blank'
          Read my
          = succeed ', ' do
            = link_to "blog", '/'
          learn
          = link_to "about", '/about'
          my work, follow me on
          = link_to "Twitter", "https://twitter.com/jwworth", target: '_blank'
          and
          = succeed ', ' do
            = link_to "Github", "https://github.com/jwworth", target: '_blank'
          = succeed '.' do
            = link_to "get in touch", 'mailto:' + ENV.fetch('contact_email')

  .container
    %footer
      This blog is
      = link_to 'open source.', 'http://github.com/jwworth/jakeworth.com'
      %br
      %br
      - if developer_signed_in?
        .btn-group{role: "group", "aria-label": "..."}
          = link_to 'Logout', destroy_session_path, class: 'btn btn-default'
          = link_to 'New Post', new_post_path, class: 'btn btn-default'
          = link_to 'New Project', new_project_path, class: 'btn btn-default'
          = link_to 'New Speaking Engagement', new_speaking_engagement_path, class: 'btn btn-default'
